.tracks-wrapper {
    list-style: none;
    height: 100%;
    overflow-y: auto;
}

.player-wrapper {
    margin-bottom: 100px;
    font-size: 50px;
    width: 500px;
}

.content-wrapper {
    height: 400px;
    width: 740px;
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: 300px;
    flex-direction: row;
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(33,5,52,1) 0%, rgba(31,5,10,1) 100%);
}

.content-wrapper > section {
    width: 100%;
}

.content-wrapper {
    height: 400px;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
}

.section-player iframe {
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .content__wrapper {
        display: flex;
        flex-direction: column;
    }

    .player-wrapper h1 {
        text-align: left;
        margin-top: 18px;
        margin-left: 120px;
    }
    .tracks__wrapper{
        margin-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 75px;
        background-color: black;
        width: 284px;
        height: 284px;
    }
    .section-player{
        height: 20%;
    }
    .section-player iframe{
        margin-left: 70px;
    }
    .section-player > section {
        width: 50%;
        margin-left: 50px;
    }
}
