.track-wrapper {
    display: flex;
    flex-direction: row;

    padding: 12px 10px 14px;

    cursor: pointer;

    transition: background-color .5s;
}

.track-wrapper:not(.track-wrapper--selected):hover {
    background-color: #ecfcff;
}

.track-wrapper--selected {
    background-color: #A46DFF;
}

.track-main {
    flex-grow: 1;
}

.track-main  h3 {
    font-size: 14px;
    line-height: 17px;
    color: #727272;
    font-weight: bold;
}

.track-wrapper--selected .track-main h3 {
    color: white
}

.track-wrapper--selected .artist,
.track-wrapper--selected .track-duration {
    color: #E4E4E4
}

.track-duration {

    margin-left: 10px;
    margin-bottom: 0;
}

.artist-wrapper {
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.artist {
    margin-right: 6px;
}

.artist,
.track-duration {
    color: #BFBFBF;
    font-size: 12px;
    line-height: 14px;
}

.artist:not(:last-child)::after {
    content: ','
}